.container {
	width: 400px;
	margin: 100px auto;
	padding: 20px;
	background-color: #d4d3dd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	animation: fadein 1s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

h1 {
	text-align: center;
	color: #923030;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 1.2rem;
	margin-bottom: 5px;
	color: #555;
}

input {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

button {
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(163, 64, 64, 0.3);
}

button:hover {
	background-color: #711f1f;
}
