.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
  }
  
  .menu-item {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color: #0f80f1a7;
    color: #fff;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    margin: 10px;
    transition: all 0.3s ease;
  }
  
  .menu-item:hover {
    transform: scale(1.2);
  }
  
  .fa {
    font-size:10px;
  }

 

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }